Package: com.wuling.mqttsource
Name: MqttSourceGrabber
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm64
Description: MQTT 凭据来源搜索工具 (Dopamine rootless)
Maintainer: JK
Author: JK
Section: Tweaks
